.search-box {
    position: fixed;
    top: 6%;
    right: 0%;
    background: #dff9fb;
    transform: translate(0%, -5%);
    -webkit-transform: translate(0%, -5%);
    -moz-transform: translate(0%, -5%);
    -ms-transform: translate(0%, -5%);
    -o-transform: translate(0%, -5%);
    height: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px;
}

.search-box:hover>.search-txt {
    width: 200px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.searhc-btn {
    color: #c7ecee;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #95afc0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    line-height: 30px;
    width: 0px;
}