.body {
    background-color: #535c68;
    font-family: Arial, Helvetica, sans-serif;
}

.body,
.background {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.background img {
    width: 100%;
    height: 770px;
    position: relative;
}

.latest-books {
    background-color: #487eb0;
    position: static;
    padding: 0 0 10px 0;
}

.latest-books h2 {
    color: #2f3640;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    padding: 10px 0% 0px 20px;
}

.latest-books p {
    text-align: center;
    color: #535c68;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    float: left;
}


/* Create two equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE 10 */
    flex: 1 1 10px;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    /* width: 25%; */
    height: 200px;
    max-width: 170px;
    padding-bottom: 4px;
}


/* for the educational books section */

.education-books {
    background-image: url("education layer.png");
}

.education-books {
    background-image: url("education layer.png");
    color: #2f3640;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    padding: 10px 0% 100px 20px;
}

.education-books p,
.featured-readings p {
    text-align: center;
    color: #535c68;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

.education-books h1,
.featured-readings h1 {
    color: #2f3640;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 0% 0px 20px;
}

.display-container img {
    padding-left: 37%;
    height: 180%;
    width: auto;
}

.mySlides {
    display: none;
}

.featured-readings {
    background-color: #487eb0;
}

.featured-left {
    float: left;
    width: auto;
}

.featured-right {
    float: right;
    width: auto;
}

.featured-right img {
    width: auto;
    min-width: 200px;
}

.featured-left img {
    width: auto;
    min-width: 200px;
}


/* @media (min-width:1500px) {
    .featured-left p {
        padding-top: 28%;
    }
} */


/* newsletter section */

form {
    border: 4mm ridge rgba(59, 37, 68, 0.6);
    background-image: url("newsletter.jpg");
}

form p {
    background-image: url("newsletter.jpg");
}

.container {
    background-color: transparent;
}

.container input[type=text],
.container input[type=submit] {
    width: 75%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.container input[type=submit] {
    background-color: #34495e;
    color: #95a5a6;
    border: 1px solid white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.container input[type=submit]:hover {
    /* opacity: 0.8; */
    background-color: #2c3e50;
}